/*********************************
********* СПЕЦИФИКАЦИЯ ***********
*********************************/
html{
    font: 400 16px/20px "Noto Serif", serif;
    height: 100%;
}
body{
    overflow-x: hidden;
}
ul,
li{
    display: block;
    margin: 0;
}
a{
    list-style: none;

    text-decoration: none;
}
.stages__title h2:before,
.photogallery__title h2:before,
.reviews__title h2:before{
    position: absolute;
    top: 140px;

    width: 100px;
    height: 0;

    content: '';

    border-top: 5px solid #d4a86e;
}
/*********************************
********* BTN__TOP ***************
*********************************/

.btn__top{
    font-size: 1.5rem;

    position: fixed;
    z-index: 999;
    right: 10px;
    bottom: 10px;

    display: block;

    padding: 1px 10px;

    cursor: pointer;
    transition: .3s ease;

    opacity: .5;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    outline: none;
    background-color: #c4b997;
}
.btn__top:hover{
    transition: .3s ease;
    opacity:.8;
    background-color: #bc905c;
}

/*********************************
********* HEADER *****************
*********************************/

.gray{
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: auto;

    padding: 15px;

    opacity: .8;
    background-color: rgba(1,1,1,.75);
}
.hidden{
    display: none;
}


/*** Стили формы ***/


.jsForm{
    font-family: 'Economica', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;

    position: fixed;
    z-index: 150;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;

    width: 300px;
    height: 340px;
    margin: 30px auto;
    padding: 15px 15px;

    text-align: center;

    border: 1px solid #fff;
    border-radius: 10px;
    background: #5b5957;
}
.contact{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;

    margin: 0 auto;

    text-align: auto;
}
.close{
    position: relative;
    top: -10px;
    left: 5px;

    cursor: pointer;
}
.close:hover{
    color: #e6a60f;
}
.input{
    font-size: 1rem;

    width: 100%;
    height: 40px;
    margin-top: 25px;

    text-align: center;

    border: 1px solid #fff;
    border-radius: 5px;
}
.input:focus{
    border: 1px solid #30ad64;
}
.input:hover{
    opacity: .8;
    background: #a6a6a6;
}

.jsForm::placeholder{
    color: black;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.jsForm::placeholder:hover{
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.applicationButton{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;

    width: 100%;
    height: 40px;
    margin-top: 25px;

    cursor: pointer;
    transition: .4s;
    text-transform: uppercase;

    border: none;
    border-radius: 5px;
}
.applicationButton:hover{
    transition: .4s;

    background: #c99759;
}




.header{
    opacity: .95;
    color: #fff;
    background: url(../img/fonProjct/fonheader.jpg)no-repeat;
    background-color: rgba(1,1,1,.95);
    background-size: cover;
    box-shadow: 0px 0px 17px 3px rgba(71,65,71,1);
}
.header__content{
    background-color: rgba(36,36,37,.7);
}
.header__top{
    padding-top: 110px;
}
.top__title h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;

    text-align: left;
}
.top__logo{
    max-width: 260px;
}
.logo__name{
    font-family: 'Cormorant Infant', serif;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 2.5rem;

    margin-bottom: 2px;
    padding: 0;

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.logo__title{
    font-family: 'Cormorant Infant', serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;

    max-width: 200px;
    margin: 0 auto;
    padding-top: 5px;

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #d3cfcf;
    border-top: 1px solid #d3cfcf;
}
.top__contacts{
    text-align: right;

}
.tel{
    display: inline-block;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;

    margin-bottom: 5px;
    padding-top: 4px;

    cursor: pointer;
    transition: color .3s ease-in-out;
    transform: translateZ(0);
    letter-spacing: .065em;

    color: #fff;
}
.tel:hover{
    transition: color .3s ease-in-out;
    transform: translateZ(0);

    color: #c99759;
}
a.contacts__jsShowForm:focus{
    transition: background-color .3s ease-in-out;
    transform: translateZ(0);

    background-color: #d4a86e;
}
a.contacts__jsShowForm{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.625rem;
    font-weight: 500;
    line-height: 1.375rem;
    width: 100%;

    padding: 6px 6px;

    transition: background-color .3s ease-in-out;
    transform: translateZ(0);
    text-align: center;
    text-decoration: none;
    letter-spacing: .075em;
    text-transform: uppercase;

    color: #fff;
    border: 1px solid #d4a86e;
    border-radius: 4px;
}
a.contacts__jsShowForm:hover{
    transition: background-color .3s ease-in-out;
    transform: translateZ(0);

    background-color: #d4a86e;
}
.header__center{
    padding-top: 80px;
    padding-bottom: 100px;
}
.center__title{
    padding: 0;
}
.center__title h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.125rem;
    font-weight: 500;
    line-height: 3.625rem;

    letter-spacing: 0;
}
.center__experience{
    font-family: 'Montserrat', sans-serif;

    position: relative;
    right: 110px;

    max-width: 350px;
    height: 350px;

    text-align: center;

    background: rgba(0,0,0,.3);
}
.experience_b{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;

    position: absolute;
    top: 65px;
    left: 75px;

    width: 210px;

    text-align: left;
    letter-spacing: 1px;
}
.experience_c{
    font-size: 8.125rem;
    font-weight: 700;

    position: absolute;
    top: 110px;
    left: 75px;

    text-align: left;
}
.experience_d{
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 3.75rem;

    position: relative;
    top: -150px;
    left: 90px;

    transform: rotate(-90deg);
}
.color{
    color: #c99759;
}



.nav-item{
    margin-right: 1.5rem;
}

/*******************************
********* ИНФОРМАЦИЯ ***********
********************************/
.information{
    padding: 150px 0;

}
.wrapper__information{
    padding-top: 50px;
    border-radius: 5px;
    background-color: #ebeaea;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.35);
}
.information__title{
    margin: 0 auto;
}
.information__title h2{
    font-family: "Noto Serif", serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.25rem;

    text-transform: uppercase;
}
.information__title p{
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;

    margin-right: 50px;
}
.work__geography,
.work__methods{
    padding: 30px 0;
}
.information__work h3{
    font-family: "Noto Serif", serif;
    font-size: 1.625rem;
    font-weight: 400;
    line-height: 2rem;

    display: flex;

    text-transform: uppercase;

    align-items: center;
}
.information__work ion-icon{
    font-size: 1.625rem;
    line-height: 2rem;

    padding-right: 5px;
}
.information__work p{
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;

    margin-right: 50px;
}

/**************************
********* ЭТАПЫ ***********
**************************/

.stages{
    position: relative;

    padding-bottom: 100px;
}
.stages span{
    font-family: 'Montserrat', sans-serif;
}
.stages__title h2{
    font-family: "Noto Serif", serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.25rem;

    margin: 100px auto;

    text-transform: uppercase;
}
.first{
    font-size: 2.5rem;
    line-height: 2.5rem;

    margin: 5px 5px;

    color: #c99759;
}
.stages__slider{
    position: relative;

    display: flex;

    width: 100%;
    height: 500px ;
    margin: 0 auto 40px;

    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.35);
}
.slider__item{
    margin: 0;
}
.item__text{
    font-family: 'Bebas Neue', 'Arial Narrow', Arial, sans-serif;

    z-index: 2;
    top: 20px;
    right: 0;
    bottom: 20px;

    margin: 10px 10px;

    text-align: left;
}
.item__text h3{
    font-family: "Noto Serif", serif;
    font-size: 1.875rem;
    font-weight: 500;

    top: 60px;

    width: 100%;

    text-shadow: 1px 1px 1px rgba(0,0,0,.1);
}
.item__text p{
    font-family: 'Economica', Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    font-style: italic;
    font-style: italic;
    line-height: 1.625rem;

    top: 155px;

    color: #916c05;
}

.item__img{
    margin-bottom: 160px;
    padding-left: 30px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.arrows{
    position: absolute;
    bottom: 100px;
    left: 100px;

    display: flex;

    width: 300px;
}
.da-arrows-prev,
.da-arrows-next{
    font-size: 0.625rem;
    font-weight: 600;
    line-height: 1.5rem;

    position: relative;

    height: 24px;
    padding: 0 13px;

    cursor: pointer;
    transition: border-color .3s ease,
    color .2s ease,
    text-shadow .2s ease,
    -webkit-box-shadow .3s ease,
    box-shadow .3s ease;
    letter-spacing: .1em;
    text-transform: uppercase;

    color: #ba8d58;
    border: 1px solid #daba94;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 0 12px 22px rgba(194,150,93,.0);
            box-shadow: 0 12px 22px rgba(194,150,93,0);
    text-shadow: 0 1px 0 rgba(126,87,42,.0);
}
.da-arrows-prev:hover,
.da-arrows-next:hover{
    color: #fff;
    background: #de9b4dd1;
}
.da-arrows-prev:focus,
.da-arrows-next:focus{
    color: #fff;
    outline: none;
    background: #de9b4dd1;
}

.da-count{
    font-size: 1.375rem;
    font-weight: 400;

    position: relative;

    width: 75px;

    text-align: center;
}
.count{
    position: absolute;
    left: 25%;

    display: none;
}
.count.active{
    display: block;
}
.control-count{
    font-size: 2rem;
    font-weight: 600;
}

.slider__item{
    display: none;
}
/*****************************
********* ГАЛЛЕРЕЯ ***********
*****************************/

.photogallery{
    background: url(../img/fonProjct/section3.jpg)no-repeat;
    background-color: #5e5e6e;
    background-size: cover;
}
.photogallery__title h2{
    font-family: "Noto Serif", serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.25rem;

    padding-top: 100px;

    text-transform: uppercase;

    color: #fff;
}
.photogallery__wrap{
    padding-top: 100px;
    padding-bottom: 150px;
}
.thumb img{
    overflow: hidden;

    padding: 2px;

    transition: .3s ease;

    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;

    -webkit-filter: grayscale(0);
            filter: none;
}

.thumb img:hover{
    transition: .3s ease;

    background-color: #c99759;

    -webkit-filter: grayscale(2);
            filter: grayscale(2);
}
.thumb{
    padding: 5px;
}



/********************************
********* ОТЗЫВЫ ****************
*********************************/

.reviews{
    background: url(../img/fonProjct/bgsection6.png) no-repeat;
    background-size: cover;
    padding-bottom: 40px;
     overflow: hidden;
}
.reviews h2{
    font-family: "Noto Serif", serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.25rem;

    padding-top: 100px;
    padding-bottom: 50px;

    text-transform: uppercase;
}
.sliders__img{
    max-width: 100px;
    margin: 0 auto;
}
.sliders__item{
    text-align: center;
}
.sliders__item h4{
    font-family: 'Montserrat', sans-serif;

    padding-top: 40px;
    padding-bottom: 20px;
}
.sliders__item p{
    font-family: 'Economica', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;

    margin: 10px auto;

    text-align: justify;
}

.reviews-form__wrap{
    width: 100%;
    max-width: 720px;
    margin: 40px auto ;
    padding: 30px;
    background-image: url(../img/fonProjct/bgFormSlider.jpg);
    -webkit-box-shadow: 0px 0px 28px 4px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 28px 4px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 28px 4px rgba(0,0,0,0.15);
}
.reviews-form__title{

    display: block;
    text-transform: uppercase;
    font-family: "Noto Serif", serif;
    font-size: 1.125rem;
    font-weight: 500;

    text-align: center;
}

.reviews__formreviews{
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
    margin:10px;
    padding: 15px;
}
.reviews__formreviews label{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    display: flex;
    flex-direction:column;
    text-align: left;
}
.formreviews__left{
    width: 48%;
    float: left;
}
.formreviews__right{
    width: 48%;
    float: right;
    margin-left: 20px;

}
.formreviews__item{
    margin-bottom: 10px;
}
.formreviews__left input{
    display: block;
    width: 100%;
    border:none;
    border-radius:3px;
    height: 36px;
    line-height: 36px;
    padding: 0 15px;
}
.formreviews__item ::placeholder{
    color: #999;
}
.formreviews__right textarea{
    display: block;
    width: 100%;
    height: 155px;
    border:none;
    border-radius:3px;
    padding:15px;
}
.formreviews__right button{
    width: 100%;
    border: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375rem;
    text-transform:uppercase;
    border-radius: 10px;
    background-color: #d4a86e;
    padding:5px auto;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.formreviews__right button:hover{
    transition: .3s ease-in-out;
    background: #c99759;
}
/********************************
********* FOOTER ****************
********************************/

.footer{
    background-color: #464e46;
    box-shadow: 0px 0px 17px 3px rgba(71,65,71,1);
}
.footer__wrap{
    padding-top: 40px;
    padding-bottom: 40px;

    color: #f7f8f8;
}

.footer__copywrite{
    font-family: 'PT Sans', sans-serif;
    font-size: 0.875rem;
    line-height: 1.5rem;

    text-align: left;

    color: #9a9a9a;
}

.footer__schedule{
    font-family: 'PT Sans', sans-serif;
    font-family: sans-serif;
    font-size: 0.875rem;
    line-height: 1.5rem;

    text-align: left;

    color: #9a9a9a;
}
.footer__logo{
    max-width: 260px;

    cursor: pointer;

    color: #d8d5d5;
}
.footer__contact{
    font-family: 'PT Sans', sans-serif;
    font-size: 0.875rem;
    line-height: 1.5rem;

    text-align: left;

    color: #9a9a9a;
}
.contact__number a{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #9a9a9a;
    text-align: left;
    list-style: none;
    text-decoration: none;

}
.contact__number ion-icon{
    font-size: 1.125rem;
    padding-right: 10px;
}

.social__list{
    padding-top: 30px;
}
.social__item{
    margin-right: 15px;
}
.social__item ion-icon{
    width: 20px;
    height: 20px;

    -webkit-transition: .3s ease;
            transition: .3s ease;

    color: #999;
}
.facebook ion-icon:hover{
    -webkit-transition: .3s ease;
            transition: .3s ease;

    color: #3b5998 ;
}
.twitter ion-icon:hover{
    -webkit-transition: .3s ease;
            transition: .3s ease;

    color: #00aced ;
}
.vk ion-icon:hover{
    -webkit-transition: .3s ease;
            transition: .3s ease;

    color: #45668e;
}
.whatsapp ion-icon:hover{
    -webkit-transition: .3s ease;
            transition: .3s ease;

    color: #25d366 ;
}

